/.vagrant
/vendor
.idea/
.phpcomplete_extended
id_rsa*
root_id_rsa*
composer.phar
db/generated-sql/
composer
*.swp
*.swo
ctags
deploy/new_install.sh
composer.lock
build/
db/*.db
db/conf/propel.json
db/generated-conf/config.php
build/logs/clover.xml
